{% extends 'base.html' %}
{%block title%}{%endblock%}
{% block logo %} Light Secure Data Sharing Scheme - Cloud {% endblock %}
{% block navMenu %}

<ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'cloud:home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'cloud:uploadedFiles' %}">Owner Uploaded Files</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="{%url 'cloud:userRequest' %}">User Requests</a>
            </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="{%url 'user:keyManagement' %}">Key Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'user:cryptography' %}">Cryptography</a>
        </li> -->
        <li class="nav-item">
                <a class="nav-link" href="{%url 'accounts:logout' %}">Logout</a>
        </li>
      </ul>

 {% endblock %}
{%block content%}
    {%block cloudContent%}

    {% endblock %}
{%endblock%}